#info {
  margin: 0 auto;
  max-width: 60%;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  font-size: 24px;
}

body {
  background-color: CadetBlue;
}

.question {
  background-color: LemonChiffon;
}
